<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0">
<meta name="description" content="personal website of daniel federschmidt, student and software-engineer" />
<meta name="keywords" content="daniel federschmidt,blog,computer science, software engineering, code">

<link rel="stylesheet" type="text/css" href="{{site.url | append: site.baseurl | append: "/static/css/main.css"}}">
<link type="text/plain" rel="author" href="{{site.url | append: site.baseurl | append: "/humans.txt"}}">

<title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %} | {{site.baseurl}}</title>
