$main-fonts: "Roboto", "Helvetica", "Arial", sans-serif;
$mono-fonts: "Roboto Mono", "Courier New", "Courier", monospace;
$headline-fonts: "Londrina Solid","Roboto",sans-serif;
$text-color: #566b78;
$accent-color: #e81c4f;